<nav class="navbar navbar-dark bg-dark ">
  <div class="container">
    <a class="navbar-brand" href="/">TCC</a>
    <ul class="navbar-nav">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/courses/create">Tạo khóa học</a>
        </div>
      </li>
    </ul>
  </div>
</nav>